.conteiner {
    max-width: 800px;
    margin: 0 auto;
    height: 100vh;
    .panel {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 800px;
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 25px;
        line-height: 50px;
        height: 70px;

        a {
            color: rgb(255, 255, 255);
        }
        
        .users {
            border: 1px white solid;
            padding: 0 10px;
        }
    
        .chats {
            border: 1px white solid;
            padding: 0 10px;
        }
    
        .settings {
            border: 1px white solid;
            padding: 0 10px;
        }
    }
}