<div class="conteiner">
    <router-outlet></router-outlet>
    <footer class="panel">
        <div class="panel-container">
           
            <div class="users"><a routerLink="/users">
                <mat-icon class="icon">search</mat-icon>
            </a></div>
            <div class="chats"><a routerLink="/chats">
                <mat-icon class="icon">home</mat-icon>
               
            </a></div>
            <div class="settings"><a routerLink="/settings">
                <mat-icon class="icon">settings</mat-icon>
            </a></div>
        </div>
    </footer>
</div>