.photo-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;

    .prev {
        margin-right: 15px;
        transform: scale(1.5);
        cursor: pointer;
    }
    .next {
        margin-left: 15px;
        transform: scale(1.5);
        cursor: pointer;
    }

    .usericon-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;

        img {
            height: 300px;
            width: 300px;
            object-fit: cover;
            opacity: 0.9;
            margin-top: 10px;
        }
    }
}