<div class="chats">
    <div class="empty" *ngIf="false">
        You don't have chats
    </div>

    <div class="chat">
        <div class="info-row">
            <div class="icon"><span>N</span></div>
            <div class="info-body">
                <div class="name">Name</div>
                <div class="last-message">{{"hi i bought beer ledaslkmdaskldadjaksl gfjlkgd dfjk gd".slice(0, 30) + "..."}}</div>
            </div>
        </div>
        <div class="line"></div>
    </div>

</div>
    