<div class="search">
    <div class="search-container">
        <mat-form-field class="full-width" appearance="legacy">
            <input matInput #search (ngModel)="search" >
        </mat-form-field>
    </div>
    <div *ngIf="users$ | async as users; else info">
        <div *ngIf="search.value && !users.length" class="not-found">
            Email not found
        </div>
    </div>
    <ng-template #info>
        <div *ngIf="true" class="not-found">
            Search user by email
        </div>
    </ng-template>
</div>


<div class="users" *ngIf="users$ | async as users">
    <div  class="user" *ngFor="let user of users">
        <div class="info-row" (click)="openChat(user.userID)">
            <div class="icon" *ngIf="!user.photoPath; else iconPhoto"><span>{{user.name.slice(0, 1).toUpperCase()}}</span></div>
            <ng-template #iconPhoto>
                <div class="iconPhoto">
                    <img [src]="user.photoPath" alt="">
                </div>
            </ng-template>
            <div class="info-body">
                <div class="name">{{user.name}}</div>
                <div class="email">{{user.email}}</div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</div>