<div class="body">
    <div class="window-form">
        <h2 class="title">Registration</h2>
        <form [formGroup]="regForm" (ngSubmit)="reg()">
            <mat-form-field class="full-width" appearance="legacy">
                Email <input matInput formControlName="email" type="text">
            </mat-form-field>
            <div 
            *ngIf="this.regForm.get('email')?.invalid && this.regForm.get('email')?.touched" 
            class="err">
                Email is required
            </div>
            <mat-form-field class="full-width" appearance="legacy">
                Password <input matInput formControlName="password" type="password">
            </mat-form-field>
            <div 
            *ngIf="this.regForm.get('password')?.invalid && this.regForm.get('password')?.touched"
            class="err">
                Password is required (min length = 8)
            </div>

            <mat-form-field class="full-width" appearance="legacy">
                Name <input matInput formControlName="name" type="text">
            </mat-form-field>
            <div 
            *ngIf="this.regForm.get('name')?.invalid && this.regForm.get('name')?.touched"
            class="err">
                Name is required
            </div>
            <div 
            *ngIf="userExistErr"
            class="err">
                This email have already registered
            </div>
            <div class="btn">
                <button mat-raised-button [disabled]="regForm.invalid">Register</button>
            </div>
           
        </form>
        <div class="register">
            <span>Do you have an account?</span>
            <a routerLink="/login"> Login</a> 
        </div>
    </div>
</div>