<div class="container" *ngIf="userInfo$ | async as userInfo">
    <div class="usericon" *ngIf="!userPhotos.length">
        {{userInfo[0].name.slice(0, 1).toUpperCase()}}
    </div>

    <carusel [userPhotos]="userPhotos"></carusel>

    <div [class]="{name: true}">{{userInfo[0].name}}</div>
    <div class="email">Email: {{userInfo[0].email}}</div>

    <input #select class="hidden" accept=".jpg, .png" type="file">
    <button class="set" mat-raised-button (click)="setPhoto()">Set photo</button>
    
    <div class="btn">
        <button mat-raised-button (click)="logout()">Logout</button>
    </div>


</div>
