<div class="conteiner">
    <header>
        <div class="info" *ngIf="userInfo$ | async as userInfo; else loader">
            <div class="back" (click)="goBack()">
                <span>...Back</span> 
            </div>
            <div class="name" (click)="goToUserInfo()">{{userInfo.name}}</div>
            <div class="icon" *ngIf="!userInfo.photoPath; else iconPhoto" (click)="goToUserInfo()">{{userInfo.name.slice(0, 1).toUpperCase()}}</div>
            <ng-template #iconPhoto>
                <div (click)="goToUserInfo()" class="iconPhoto">
                    <img [src]="userInfo.photoPath" alt="">
                </div>
            </ng-template>
        </div>
    </header>
    <ng-template #loader>
        <div class="loading">
            Loading...
        </div>
    </ng-template>

    <div class="empty" *ngIf="!messagesArray.length">
        You don't have messages
    </div>

    <div class="messages" *ngFor="let message of messagesArray">
        <div [class]="{'message-conteinder': true, sender: myID === message.senderID, recipient: myID !== message.senderID}">
            <div class="msg-body">
                <div class="msg">
                    {{message.message}}
                </div>
                <div class="date">
                    {{message.date.toLocaleString() | date}}
                </div>
            </div>
            
        </div>
    </div>

    <div class="input-container">
        <div class="row">
            <div class="text">
                <input 
                #select
                accept=".jpg, .png" 
                class="hidden" 
                type="file">
                <mat-icon (click)="addFile()" class="attach">add_photo_alternate</mat-icon>
                <input [(ngModel)]="message" type="text">
                <button [disabled]="!message" (click)="sendMessage()"><mat-icon class="icon-send">expand_less</mat-icon></button>
            </div>
        </div>
    </div>   
</div>


